.container {
  height: calc(80vh + 45px);
  width: calc(95% + 36px);
  margin: 5px;
  box-shadow: 1px 1px 15px 5px #bebebe;
  border-radius: 4px;
  padding: 1px 10px 10px 10px;
  overflow-x: hidden;
  scrollbar-width: 0px;
  position: relative;
  z-index: 1;
}


.container::-webkit-scrollbar {
  display: none;
}

.box-color {
    background-color: var(--bg);
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    position: sticky;
}
.box-color.center {
    position: absolute;
    left: calc(42% + 10px);
    border-radius: 4px;
    padding: 12px;
    overflow-x: hidden;
    scrollbar-width: 0px;
    position: relative;
    z-index: 1;
}

.container .tasks {
    color: yellow !important;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line {
    height: 5px;
    width: 60vw;
    background-color: var(--bg);
    margin-top: 0 !important;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex .gap {
    gap: 2px;
}

.searchbox {
    border: none;
    outline: none;
    padding: 2px;
    border-bottom: 1px solid rgb(221, 214, 214);
    margin-left: 50px;
    position: absolute;
    right: 20px;
    background-color: transparent;
    width: 6em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  padding: 16px 0;
}

.overflow {
    overflow-y: hidden;
}

@media (max-width: 600px) {
    .container {
        width: max-content;
    }

    .searchbox {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        width: calc(95% + 10px);
        height: calc(85vh + 10px);
    }

    .searchbox {
        width: 5em;
    }
}

@media (max-width: 530px) {
  .container {
    width: calc(85vw + 8px);
  }
}
