.add-task-container {
  background: #f9f9f9;
  border-radius: 8px;
  width: 300px;
  margin-top: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.add-task-form div {
  margin-bottom: 12px;
}

.add-task-form label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.add-task-form input[type="text"],
.add-task-form select {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-task-form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.add-task-form button:hover {
  background-color: #0056b3;
}

.header-h5 {
    margin-bottom: 0 !important;
    margin-bottom: 5px !important;
    height: 25px;
    margin-top: 0;
    vertical-align: middle;
}

.icon-close {
  height: 25px;
  width: 25px;
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}

.flex-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted grey;
    height: max-content;
}
